.collapse-about-container {
    margin-top: 1.2rem;
    @media (min-width: 768px) {
        padding: 0 6rem;
    }
}

.collapse {
    margin-top: 0.5rem;
    &:hover {
        cursor: pointer;
    }
}

.collapse-header {
    background-color: $primary-color;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: .7rem;
    border-radius: .3rem;
    & h3 {
        color: white;
    }
}

.collapse-text {
    background-color: $collapse-background;
    padding: 2rem 1rem;
    border-radius: .3rem;
    & p {
        color: $primary-color;
    }
}