.main-container {
    border-radius: 1rem;
    background-color: #f5f5f5;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    @media (min-width: 768px) {
        padding: 2rem;
        display: grid;
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px) {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card-container {
    border-radius: 1rem;
    height: 15rem;;
background: linear-gradient(342deg, rgba(0,0,0,0.8323923319327731) 0%, rgba(255,96,96,1) 60%);
    & h3 {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        padding: 1rem;
        color: white;
        font-weight: 500;
    } 
}
