.notFound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}
.notFound-code {
    color: $primary-color;
    font-size: 6rem;
    margin-top: 10rem;
    @media (min-width: 1024px) {
        font-size: 12rem;
    }
    @media(min-width: 1920px){
        margin-top: 20rem;
    }
}
.notFound-message {
    color: $primary-color;
    font-size: 18px;
    padding-left: 5em;
    padding-right: 3em;
    margin-top: 0.7em;
    @media (min-width: 1024px) {
        font-size: 36px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 1em;
    }
    @media(min-width: 1920px){
        margin-top: 2em;
    }
}
.notFound-link {
    color: $primary-color;
    font-size: 14px;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 6em;
    @media (min-width: 1024px) {
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 5em;
    }
    @media(min-width: 1920px){
        margin-top: 9em;
    }
}