*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  margin: 0 1em;
}
@media (min-width: 1024px) {
  body {
    margin: 0 5em;
  }
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.navbar-logo {
  height: 3em;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-item {
  color: #FF6060;
  text-decoration: none;
  margin-left: 1em;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .navbar-item {
    text-transform: none;
    margin-left: 5em;
  }
}
.navbar-item:hover {
  text-decoration: underline;
}

.hero-container {
  /* display: flex; */
  position: relative;
  margin-top: 1rem;
}

.hero-image {
  width: 100%;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  filter: brightness(50%);
}
@media (min-width: 1024px) {
  .hero-image {
    height: 10rem;
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .hero-text {
    font-size: 2rem;
  }
}

.hero-image-responsive img {
  width: 100%;
  height: 17rem;
  border-radius: 15px;
  filter: brightness(50%);
}
@media (min-width: 1024px) {
  .hero-image-responsive img {
    height: 12rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main-container {
  border-radius: 1rem;
  background-color: #f5f5f5;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .main-container {
    padding: 2rem;
    display: grid;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .main-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-container {
  border-radius: 1rem;
  position: relative;
}
.card-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 340px;
  width: 100%;
  border-radius: 1rem;
}
.card-container h3 {
  color: white;
  position: absolute;
  top: 88%;
  left: 5%;
}

.collapse-about-container {
  margin-top: 1.2rem;
}
@media (min-width: 768px) {
  .collapse-about-container {
    padding: 0 6rem;
  }
}

.collapse {
  margin-top: 0.5rem;
}
.collapse:hover {
  cursor: pointer;
}

.collapse-header {
  background-color: #FF6060;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.3rem;
}
.collapse-header h3 {
  color: white;
}

.collapse-text {
  background-color: #F6F6F6;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
}
.collapse-text p {
  color: #FF6060;
}

.notFound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound-code {
  color: #FF6060;
  font-size: 6rem;
  margin-top: 10rem;
}
@media (min-width: 1024px) {
  .notFound-code {
    font-size: 12rem;
  }
}
@media (min-width: 1920px) {
  .notFound-code {
    margin-top: 20rem;
  }
}

.notFound-message {
  color: #FF6060;
  font-size: 18px;
  padding-left: 5em;
  padding-right: 3em;
  margin-top: 0.7em;
}
@media (min-width: 1024px) {
  .notFound-message {
    font-size: 36px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1em;
  }
}
@media (min-width: 1920px) {
  .notFound-message {
    margin-top: 2em;
  }
}

.notFound-link {
  color: #FF6060;
  font-size: 14px;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 6em;
}
@media (min-width: 1024px) {
  .notFound-link {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5em;
  }
}
@media (min-width: 1920px) {
  .notFound-link {
    margin-top: 9em;
  }
}

.slideshow-container {
  height: 15rem;
  margin-top: 2rem;
  position: relative;
}
@media (min-width: 768px) {
  .slideshow-container {
    height: 20rem;
  }
}
@media (min-width: 1024px) {
  .slideshow-container {
    height: 30rem;
  }
}

.slideshow-mainPicture {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.slideshow-arrow-right {
  position: absolute;
  top: 45%;
  right: 2%;
  height: 3rem;
}
.slideshow-arrow-right:hover {
  cursor: pointer;
}

.slideshow-arrow-left {
  position: absolute;
  top: 45%;
  left: 2%;
  height: 3rem;
}
.slideshow-arrow-left:hover {
  cursor: pointer;
}

.main-location-container {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .main-location-container {
    display: flex;
    justify-content: space-between;
  }
}

.main-location-header {
  margin-top: 1rem;
}

.main-location-title {
  color: #FF6060;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .main-location-title {
    font-size: 1.5rem;
  }
}

.main-location-lieu {
  color: #FF6060;
  font-weight: 500;
  margin-top: 0.5rem;
}

.main-location-tags {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
}

.tag {
  padding: 0.3rem 1.5rem;
  background-color: #FF6060;
  color: white;
  border-radius: 0.4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-location-section2 {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .main-location-section2 {
    flex-direction: column-reverse;
  }
}

.rating-star {
  height: 1.3rem;
}

.host {
  display: flex;
}

.host-name {
  color: #FF6060;
  font-weight: 600;
  align-self: center;
}

.host-picture {
  border-radius: 50%;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0.5rem;
}

.main-location-collapses {
  margin-top: 1rem;
}
.main-location-collapses > div p {
  margin-top: 0.5rem;
}
@media (min-width: 1024px) {
  .main-location-collapses {
    display: flex;
    gap: 1rem;
  }
  .main-location-collapses > div {
    width: 50%;
  }
}

.footer {
  margin: 1rem -5rem auto -5rem;
  background-color: #000;
  padding: 2rem;
  justify-content: center;
  display: grid;
}
.footer img {
  height: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer p {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer {
    display: grid;
  }
  .footer img {
    height: 2rem;
  }
}/*# sourceMappingURL=main.css.map */